.panel {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card:not(:first-child) {
   margin-left: 15px;
}

.card-input-element {
    display: none;
}

.card-input {
    padding: 20px;
    width: fit-content;
    width: 100px;
    border: 1px solid   var(--Neutral-Light-gray);
    border-radius: 8px;

}


.card-input:hover {
    cursor: pointer;
}

.card-input:hover  {
   border: 1px solid var(--Primary-Marine-blue);
}

.card-input-element:checked + .card-input {
    border: 1px solid var(--Primary-Marine-blue);
    background: var(--Primary-Light-blue);
 }

 .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }

 .panel-body:nth-child(1) {
    color: var(--Primary-Marine-blue);
    font-weight: 700;
    font-size: 18px;
 }

 .plan-switcher {
    background: var(--Neutral-Magnolia);
    padding: 7px;
    border-radius: 7px;
 }
 .switcher-info {
    display: flex;
    justify-content: center;
    gap: 25px;

    align-items: center;
 }

 .switcher-info span {
    font-weight: 500;
    color: var(--Neutral-Cool-gray);
 }


  .activePayment {
    color: var(--Primary-Marine-blue) !important;
 }

 .switch {
    --button-width: 2em;
    --button-height: 1.2em;
    --toggle-diameter: 0.8em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: var(--Primary-Marine-blue);
    --color-green: var(--Primary-Marine-blue);
    cursor: pointer;
    margin: 0;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
  
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--button-toggle-offset)));
   }
   

   .free-month {
      display: block;
      color: var(--Primary-Marine-blue);
      margin-top: 10px;
   }

   .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   
   .btn-add {
      float: unset !important;
   }
