<div class="container">
    <div class="nav">
        <a (click)="onNavClick(a1.textContent)" >
            <span class="nav-number" [classList]="step === 1 ? 'active' : 'nav-number'" #a1>1</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 1
                </span>
                <span class="step-info">
                    YOUR INFO
                </span>
            </div>
        </a>

        <a (click)="onNavClick(a2.textContent)">
            <span class="nav-number" [classList]="step === 2 ? 'active' : 'nav-number'" #a2>2</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 2
                </span>
                <span class="step-info">
                   SELECT PLAN
                </span>
            </div>
        </a>

        <a (click)="onNavClick(a3.textContent)">
            <span class="nav-number" [classList]="step === 3 ? 'active' : 'nav-number'" #a3>3</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 3
                </span>
                <span class="step-info">
                    ADD-ONS
                </span>
            </div>
        </a>

        <a>
            <span class="nav-number" [classList]="step === 4 || step === 5 ? 'active' : 'nav-number'">4</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 4
                </span>
                <span class="step-info">
                        SUMMARY
                </span>
            </div>
        </a>
    </div>

    <div class="main">
        <form action="#" [formGroup]="userInfoForm">

            <!-- Step 1 - Component Start-->

            <div class="main-content" *ngIf="step === 1">
                <header>
                    <h1 class="main-header-h1">Personal Info</h1>
                    <p class="main-header-p">Please provide your name, email address and phone number</p>
                </header>
                
                <div>
                    <div class="label">
                        <label for="name">Name</label>
                
                        <div *ngIf="userInfoForm.controls['name'].invalid && userInfoForm.controls['name'].touched" class="error">
                            This field is required
                         </div>
                    </div>
                    
                    <input 
                        type="text"
                        placeholder="e.g. Stephen King" 
                        required
                        name="username"
                        formControlName="name"
                        id="name"
                        [className]="userInfoForm.controls['name'].touched && userInfoForm.controls['name'].invalid ? 'inputError' : ''"
                     >
                
                
                     <div class="label">
                        <label for="name">Email Address</label>

                        <div *ngIf="userInfoForm.controls['email'].invalid && userInfoForm.controls['email'].touched" class="error">
                            This field is required
                         </div>
                    </div>
                    <input 
                        type="email" 
                        placeholder="e.g. stephenking@lorem.com"
                        required
                        name="email"
                        pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                        formControlName="email"
                        id="email"
                        [className]="userInfoForm.controls['email'].touched && userInfoForm.controls['email'].invalid ? 'inputError' : ''"
                    >
                
                    <div class="label">
                        <label for="name">Number</label>

                        <div *ngIf="userInfoForm.controls['number'].invalid && userInfoForm.controls['number'].touched" class="error">
                            This field is required
                         </div>
                    </div>
                    <input 
                        type="number" 
                        placeholder="e.g. +1 234 567 890"
                        required
                        name="phonenumber"
                        formControlName="number"
                        id="number"
                        [className]="userInfoForm.controls['number'].touched && userInfoForm.controls['number'].invalid ? 'inputError' : ''"
                    >
                </div>
            </div>

            <!-- Step 1 - Component End -->

            <!-- Step 2 - Component Start-->

            <div class="main-content" *ngIf="step === 2">
                <header>
                    <h1 class="main-header-h1">Select your plan</h1>
                    <p class="main-header-p">You have option of monthly and yearly billing.</p>
                </header>
            
                
                <div class="main-plan">
            
                  <div class="cards">

                    <label for="{{plan.name}}" *ngFor="let plan of plans">
                        <input type="radio" id="{{plan.name}}" class="card-input-element"  value="{{plan.name}}" formControlName="plan"/>
                
                          <div class="panel panel-default card-input">
                            <div class="panel-heading"><img src="{{plan.icon}}" alt=""></div>
            
                           <div class="plan-info">
                            <div class="panel-body">
                                {{plan.name}}
                              </div>
              
                              <div class="panel-body" [ngSwitch]="planMode">
                               <span class="plan-price" *ngSwitchDefault>${{plan.priceMonth}}/mo</span>
            
                               <span class="plan-price" *ngSwitchCase="'yearly'">${{plan.priceYear}}/yr</span>
                               <span class="free-month"*ngIf="planMode === 'yearly'">2 month free</span>
                              </div>
                            </div>
                           </div>
                
                     </label>

                  </div>

                  
            
                  <div class="plan-switcher">
                    <div class="switcher-info">
                        <span [classList]="planMode === 'monthly' ? 'activePayment' : ''">Monthly</span>
            
                        <label class="switch" >
                          <input type="checkbox" (click)="onSwitchPlanMode()" formControlName="isPaymentYearly">
                          <span class="slider"></span>
                        </label>
            
                        <span [classList]="planMode === 'yearly' ? 'activePayment' : ''">Yearly</span>
                    </div>
                </div>
                </div>


            </div>

            <!-- Step 2 - Component End-->

            <!-- Step 3 - Component Start-->

            <div class="main-content" *ngIf="step === 3">
                <header>
                    <h1 class="main-header-h1">Pick add-ons</h1>
                    <p class="main-header-p">Add-ons help enhance your gaming experiance.</p>
                </header>
                
                <div class="adds">
                    <label for="online-service" class="add-item">
                        <div class="add-top">
                            <div>
                                <input type="checkbox" id="online-service" formControlName="onlineService">
                                <div class="checkmark"></div>
                            </div>

                            <div class="add-info">
                                <span>Online Service</span>
                                <span class="main-header-p description-add">Access to multiplayer games</span>
                            </div>
                        </div>

                        <span class="add-price" *ngIf="planMode === 'monthly'">+$1/mo</span>
                        <span class="add-price" *ngIf="planMode === 'yearly'">+$10/yr</span>

                    </label>

                    <label for="storage" class="add-item">
                        <div class="add-top">
                            <div>
                                <input type="checkbox" id="storage" formControlName="largerStorage">
                                <div class="checkmark"></div>
                            </div>

                            <div class="add-info">
                                <span>Larger storage</span>
                                <span class="main-header-p description-add">Extra 1 TB of cloud save</span>
                            </div>
                        </div>

                        <span class="add-price" *ngIf="planMode === 'monthly'">+$2/mo</span>
                        <span class="add-price" *ngIf="planMode === 'yearly'">+$20/yr</span>

                    </label>

                    <label for="custom-profile" class="add-item">
                        <div class="add-top">
                            <div>
                                <input type="checkbox" id="custom-profile" formControlName="customProfile">
                                <div class="checkmark"></div>
                            </div>

                            <div class="add-info">
                                <span>Customizable Profile</span>
                                <span class="main-header-p description-add">Custom theme on your profile</span>
                            </div>
                        </div>

                        <span class="add-price" *ngIf="planMode === 'monthly'">+$2/mo</span>
                        <span class="add-price" *ngIf="planMode === 'yearly'">+$20/yr</span>

                    </label>

                    <div class="next-btn-to-right">
                        <button 
                            type="button"
                            class="btn-go-back" 
                            (click)="onGoBack()"
                            *ngIf="step > 1"
                        >Go back</button>
            
                        <button 
                            type="submit"
                            class="next-btn" 
                            (click)="onSubmit()" 
                            *ngIf="step !<= 4"                     
                        >Next STep
                    </button>
                    </div>
                    
                </div>
            </div>

             <!-- Step 3 - Component End -->

              <!-- Step 4 - Component Start-->

            <div class="main-content" *ngIf="step === 4">
                <header>
                    <h1 class="main-header-h1">Finishing up</h1>
                    <p class="main-header-p">Double-check everything look OK before confirming.</p>
                </header>

                <div class="main-content">
                    <div class="finish-info">
                        <div class="d-flex">
                            <div>
                               <h4>{{userInfo.plan}}({{planMode}})</h4>
                               <span class="change-btn" (click)="onBackToPlan()">Change</span>
                            </div>

                            <span class="summary-price">${{userInfo.isPaymentYearly ? planPrice.yearly : planPrice.monthly}}/{{userInfo.isPaymentYearly ?'yr': 'mo'}}</span>
                        </div>
                        <hr>
                        <div class="adds-summary">
                            <div class="d-flex" *ngIf="userInfo.onlineService">
                                <p class="main-header-p" >Online service</p>
                                <p class="main-header-p" *ngIf="!userInfo.isPaymentYearly">+$1/mo</p>
                                <p class="main-header-p" *ngIf="userInfo.isPaymentYearly">+$10/yr</p>
                            </div>

                            <div class="d-flex" *ngIf="userInfo.largerStorage">
                                <p class="main-header-p" >Larger storage</p>
                                <p class="main-header-p" *ngIf="!userInfo.isPaymentYearly">+$2/mo</p>
                                <p class="main-header-p" *ngIf="userInfo.isPaymentYearly">+$20/yr</p>

                            </div>

                            <div class="d-flex" *ngIf="userInfo.customProfile">
                                <p class="main-header-p" >Customizable profile</p>
                                <p class="main-header-p" *ngIf="!userInfo.isPaymentYearly">+$2/mo</p>
                                <p class="main-header-p" *ngIf="userInfo.isPaymentYearly">+$20/yr</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex total">
                        <span class="main-header-p">Total (per {{userInfo.isPaymentYearly ? 'year' : 'month'}})</span>
                        <span class="total-price">${{totalPrice}}/{{userInfo.isPaymentYearly ?'yr': 'mo'}}</span>
                    </div>
                </div>
                
            </div>

             <!-- Step 4 - Component End -->

             <!-- Step 5 - Component Start -->

            <div class="end-content" *ngIf="step === 5">
                <img src="../assets/images/icon-thank-you.svg" alt="">
                <h1 class="thnks">Thank You!</h1>
                <p class="thnks-p">Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support@loremgaming.com</p>
            </div>

             <!-- Step 5 - Component End -->
        </form>

        <div class="next-btn-to-right" *ngIf="step !== 3">
            <button 
                class="btn-go-back" 
                (click)="onGoBack()"
                *ngIf="step > 1 && step <= 4"
            >Go back</button>

            <button 
                class="next-btn" 
                (click)="onStepClick()" 
                *ngIf="step !<= 4"
                [classList]="step !== 4 ? 'next-btn' : 'confirm-btn'"
                [disabled]="userInfoForm.controls['name'].invalid || userInfoForm.controls['email'].invalid || userInfoForm.controls['number'].invalid "
            >{{step !== 4 ? 'Next Step' : 'Confirm'}}
        </button>
        </div>
       

    </div>

</div>