<div class="container">
    <div class="nav">
        <a >
            <span class="nav-number" [classList]="step === 1 ? 'active' : 'nav-number'">1</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 1
                </span>
                <span class="step-info">
                    YOUR INFO
                </span>
            </div>
        </a>

        <a>
            <span class="nav-number" [classList]="step === 2 ? 'active' : 'nav-number'">2</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 2
                </span>
                <span class="step-info">
                   SELECT PLAN
                </span>
            </div>
        </a>

        <a >
            <span class="nav-number" [classList]="step === 3 ? 'active' : 'nav-number'">3</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 3
                </span>
                <span class="step-info">
                    ADD-ONS
                </span>
            </div>
        </a>

        <a>
            <span class="nav-number" [classList]="step === 4 ? 'active' : 'nav-number'">4</span>

            <div class="nav-info">
                <span class="step-number">
                    STEP 4
                </span>
                <span class="step-info">
                        SUMMARY
                </span>
            </div>
        </a>
    </div>

    <div class="main">
        <form action="#" [formGroup]="userInfoForm">

            <!-- Step 1 - Component Start-->

            <div class="main-content" *ngIf="step === 1">
                <header>
                    <h1 class="main-header-h1">Personal Info</h1>
                    <p class="main-header-p">Please provide your name, email address and phone number</p>
                </header>
                
                <div>
                    <div class="label">
                        <label for="name">Name</label>
                
                        <div >
                            This field is required
                         </div>
                    </div>
                    
                    <input 
                        type="text"
                        placeholder="e.g. Stephen King" 
                        required
                        name="username"
                        formControlName="name"
                        id="name"
                     >
                
                
                     <div class="label">
                        <label for="name">Email Address</label>
                    </div>
                    <input 
                        type="email" 
                        placeholder="e.g. stephenking@lorem.com"
                        required
                        name="email"
                        pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                        formControlName="email"
                        id="email"
                    >
                
                    <div class="label">
                        <label for="name">Number</label>
                    </div>
                    <input 
                        type="number" 
                        placeholder="e.g. +1 234 567 890"
                        required
                        name="phonenumber"
                        formControlName="number"
                        id="number"
                    >
                </div>
            </div>

            <!-- Step 1 - Component End -->

            <!-- Step 2 - Component Start-->

            <div class="main-content" *ngIf="step === 2">
                <header>
                    <h1 class="main-header-h1">Select your plan</h1>
                    <p class="main-header-p">You have option of monthly and yearly billing.</p>
                </header>
            
                
                <div class="main-plan">
            
                  <div class="cards">

                    <label for="{{plan.name}}" *ngFor="let plan of plans">
                        <input type="radio" id="{{plan.name}}" class="card-input-element"  value="{{plan.name}}" formControlName="plan"/>
                
                          <div class="panel panel-default card-input">
                            <div class="panel-heading"><img src="{{plan.icon}}" alt=""></div>
            
                           <div class="plan-info">
                            <div class="panel-body">
                                {{plan.name}}
                              </div>
              
                              <div class="panel-body" [ngSwitch]="planMode">
                               <span class="plan-price" *ngSwitchDefault>${{plan.priceMonth}}/mo</span>
            
                               <span class="plan-price" *ngSwitchCase="'yearly'">${{plan.priceYear}}/yr</span>
                               <span class="free-month"*ngIf="planMode === 'yearly'">2 month free</span>
                              </div>
                            </div>
                           </div>
                
                     </label>

                  </div>

                  
            
                  <div class="plan-switcher">
                    <div class="switcher-info">
                        <span [classList]="planMode === 'monthly' ? 'activePayment' : ''">Monthly</span>
            
                        <label class="switch" >
                          <input type="checkbox" (click)="onSwitchPlanMode()" formControlName="isPaymentYearly">
                          <span class="slider"></span>
                        </label>
            
                        <span [classList]="planMode === 'yearly' ? 'activePayment' : ''">Yearly</span>
                    </div>
                </div>
                </div>


            </div>

            <!-- Step 2 - Component End-->

            <!-- Step 3 - Component Start-->

            <div class="main-content" *ngIf="step === 3">
                <header>
                    <h1 class="main-header-h1">Pick add-ons</h1>
                    <p class="main-header-p">Add-ons help enhance your gaming experiance.</p>
                </header>
                
                <div class="adds">
                    <div class="add-item">
                        <input type="checkbox" id="online-service">

                        <div class="add-info">
                            <label for="online-service" class="add-info-label">Online Service</label>
                            <p class="add-info-p">Access to multiplayer games</p>
                        </div>

                        <span class="add-price">+1$/mo</span>
                    </div>
                </div>
            </div>

             <!-- Step 3 - Component End -->

              <!-- Step 4 - Component Start-->

            <div class="main-content" *ngIf="step === 4">
                <header>
                    <h1 class="main-header-h1">Finishing up</h1>
                    <p class="main-header-p">Double-check everything look OK before confirming.</p>
                </header>
                
            </div>

             <!-- Step 4 - Component End -->
        </form>

        <div class="next-btn-to-right">
            <button 
                class="btn-go-back" 
                (click)="onGoBack()"
                *ngIf="step > 1"
            >Go back</button>

            <button 
                class="next-btn" 
                (click)="onStepClick()" 
                *ngIf="step !<= 4"
                [classList]="step !== 4 ? 'next-btn' : 'confirm-btn'"
            >{{step !== 4 ? 'Next Step' : 'Confirm'}}
        </button>
        </div>
       

    </div>

</div>